@use "./variables.scss" as *;

body {
  font-family: "Barlow", sans-serif;
  margin: 0 10% 5%;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallery-cardList {
  position: relative;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}