@use "../../index";

.gallery-container {
  position: relative;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 83rem;
  margin: 0 auto;

  @include index.max-desktop {
    width: 62.8rem;
  }

  @include index.max-tablet {
    width: 41.8rem;
  }

  @include index.max-mobile {
    width: 100%;
  }
}

.gallery-header {
  margin: 5rem 1rem 1.3rem;
  color: black;

  h1 {
    @include index.text-style-header;
    color: index.$color-text-dark-strong;
  }

  h2 {
    @include index.text-style-normal;
    color: index.$color-text-dark-strong;
  }

  nav {
    display: inline-block;

    a {
      @include index.input-focus;
      display: flex;
      align-items: center;
    }

    .icon {
      color: index.$color-text-dark-strong;
      width: 1.25em;
      margin-right: 1em;
    }
  }
}

.gallery-cardList {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-basis: 25%;

    @include index.max-desktop {
      flex-basis: 33%;
    }

    @include index.max-tablet {
      flex-basis: 50%;
    }

    @include index.max-mobile {
      flex-basis: 45%;
    }
  }

  @include index.max-mobile {
    justify-content: space-evenly;
  }
}